.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-gap: 10px;
    background-color: #2196F3; /* Blue background */
    padding: 10px;
}

/* General styling for all grid items */
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    color: #333; /* Dark text for readability */
    height: 150px; /* Temporary fixed height for visibility */
}

.grid-container > div:nth-child(1) { background-color: rgba(255, 0, 0, 0.3); } /* Red */
.grid-container > div:nth-child(2) { background-color: rgba(0, 255, 0, 0.3); } /* Green */
.grid-container > div:nth-child(3) { background-color: rgba(0, 0, 255, 0.3); } /* Blue */
.grid-container > div:nth-child(4) { background-color: rgba(255, 255, 0, 0.3); } /* Yellow */
.grid-container > div:nth-child(5) { background-color: rgba(0, 255, 255, 0.3); } /* Cyan */
.grid-container > div:nth-child(6) { background-color: rgba(255, 0, 255, 0.3); } /* Magenta */
.grid-container > div:nth-child(7) { background-color: rgba(255, 165, 0, 0.3); } /* Orange */
.grid-container > div:nth-child(8) { background-color: rgba(128, 0, 128, 0.3); } /* Purple */
